<div class="col-lg-12" id="whiskeyList">
		<div class="row">
			<div ng-repeat="whiskey in whiskeys | filter:query" class="col-sm-3 whiskey-listing">
				<div class="whiskey-container">	
					<a href="#/whiskeys/{{whiskey.id}}"><img ng-src="{{whiskey.images[0]}}" height="200" width="200"/></a>
					<whiskey-title></whiskey-title>
					<whiskey-desc></whiskey-desc>
				</div>
			</div>
		</div>
	</div>	
	<div class="row" ng-repeat="rows in chunkedData">
			<div class="span4" ng-repeat="whiskey in rows">{{whiskey.name}}</div>
	</div>